.nextImage {
    float: left;
    padding: 15px;
}

.searchArea {
    margin-top: 15px;
}


h1 {
    color: gold;
    padding: 3px;
    display: grid;
    transition: all .5s;
    user-select: none;
    animation-duration: 1.5s;
    animation-name: slidein;
    padding: 15px;
  }
.btn {
    margin: 1%;
    background-color: white;
}
p {
    color: white;
}

    
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
* {
    background-color: rgb(48, 31, 31);
    font: 
}
body {
    color: black;
    font-family: 'Lustria', serif;

}
#search {
    padding: 18px;
    padding-bottom: 10xp;
    border-bottom: 12px solid whitesmoke;
    text-align: right;

}
form.search {

}
#searchtext {
    color: gold;
    background: grey
}
#searchgifs {
    background-color: whitesmoke
}
label {
    color: whitesmoke;  
}